.contact__container {
    background-color: #EDE9DF;
    @include tablet{
        padding: 50px 0px 50px 0px;
    }
}
.contact__details {
    width: 50%;
    @include tablet{
        width: 100%;}
}
.contact__containerwrap {
    width: 77%;
    margin: 0 auto;
    padding: 100px 0px;
@include tablet{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
    .contact__title {
        width: 50%;
        color: #362126;
        font-family: $neue-font;
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: 100px;
        /* 125% */
        letter-spacing: -0.8px;
        text-transform: capitalize;
        @include tablet{
            width: 100%;
            font-size: 60px;
            line-height: 70px;
            padding-bottom: 18px;
        }
    }
}
    .contact__form {
        width: 50%;
        @include tablet{
            width: 100%;}
    }
.wd-50{
    margin: 0 6px;
    @include tablet{
        width: 100%;
        margin: 0px !important;
    }
}
.wd-50{
    margin: 0 6px;
}
select,select.error {
    background: transparent;
    border: none;
    border-bottom: 1px solid #362126;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #362126;
    padding: 0px;
    font-family: $area-font;
}

option {
    color: $color-black;
}

.input-parent {
    position: relative;
}

input,
textarea {
    display: inline-block;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #362126;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: capitalize;
    color: var(--d-9-d-9-d-9, #362126);
    font-family: $area-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}
textarea ~ label.error{
    position: initial;
}
input:focus+.form-label,
input.has-value+.form-label
 {
    top: -14px;
    font-size: 14px;
}
textarea:focus+.form-label,
textarea.has-value+.form-label{
    font-size: 14px;
    top: -15px;
}
.group{
    position: relative;
    margin-bottom: 17px;
    @include tablet{
        margin-bottom: 20px !important;
    }
}
label.error{
    top: auto !important;
    position: initial;
}
select ~ label{
    position: initial;
}
.msgBox textarea:focus~.form-label,
.msgBox textarea.has-value~.form-label,.msgBox textarea:valid~label {
    top: -10px;
}
.msgBox textarea{
    height: 72px;
}
.msgBox .form-label{
    top: 35px;
}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

input {
    background: none;
    font-size: 16px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #362126;
    height: auto;
    padding: 0px !important;
}

input:focus {
    outline: none;
}
.row__cls{
    display: flex;
    flex-wrap: wrap;
}
input:focus~label,
input:valid~label{
    top: -20px;
    font-size: 10px;
    color: #362126;
}

// input:focus~.bar:before {
//     width: 320px;
// }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
label {
    color: var(--d-9-d-9-d-9, #362126);
    font-family: $area-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #242935;
    transition: 300ms ease all;
    left: 0;
}

.wd-50 {
    width: 47%;
    float: left;
    @include tablet{
        width: 100%;
    }
}
.contact__row{
@include tablet{
    flex-wrap: wrap;
}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ede9df inset !important;
    color: #000 !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: #000 !important;
}
.wd-100 {
    width: 96%;
    clear: both;
    margin: 0 6px 17px 6px;
    @include tablet{
        width: 100%;
        margin: 0 0 20px 0px;
    }
}
.submit__btn {
    border: 1px solid $color-lightblack;
    border-radius: 30px;
    float: right;
    color: var(--d-9-d-9-d-9, #362126);
text-align: center;
font-family: $area-font;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 183.333% */
letter-spacing: 0.96px;
text-transform: uppercase;
padding: 3px 30px !important;
    @include tablet{
        float: none;
        width: 120px;
        height: 30px;
    }
    &:hover{
        background-color: #000 !important;
        color: #fff;
    }
}
a.backtotop {
    color: var(--d-9-d-9-d-9, #362126);
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 216.667% */
    padding-bottom: 56px;
    display: block;
    position: relative;
    &:hover{
        &::after{
            content: '';
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 1.5px;
    left: 0px;
    background-color: #362126;
    margin-top: 30px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;

        }
    }
    @include tablet{
        padding-bottom: 20px;
        padding-top: 20px;
        display: none;
    }
}
.input__btn{
@include tablet{
    margin-bottom: 0px !important;
}
}
#contact-sucessmessage {
    color: white;
}

.contact_formsubs label {
    color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 380;
  line-height: 19px; /* 158.333% */
  }
  .contact_formsubs{
    position: relative;
    display: flex;
    align-items: start;
    margin-bottom: 18px;
    // padding-left: 10px;
  }
  .contact_formsubs label {
    position: relative;
    cursor: pointer;
    pointer-events: all;
    top: 0;
    left: 9px;
    width: 100%;
    color: var(--d-9-d-9-d-9, #362126);
font-family: $area-font;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 19px;
  }
  .contact_formsubs label a{
    text-decoration: underline;
  }
  .contact_formsubs input{
    width: 14px;
    height: 14px;
    accent-color: #fff;
    background: #fff;
    border: 3px solid #fff !important;
    border-radius: 4px;
    padding: 0 !important;
    
    box-sizing: border-box;
  }
  .contact_formsubs input:focus{
    outline: #fff;
  }
  .contact_formsubs input:focus ~ label,.contact_formsubs  input:valid ~ label{
    top: 0;
    font-size: 12px;
  }
  @media screen and (max-width: 1024px) {
    .contact_formsubs label {
      font-size: 11px;
    }
    .contact_formsubs{
      margin-bottom: 24px;
    }
    .contact_formsubs input:focus ~ label,.contact_formsubs  input:valid ~ label{
      top: 0 !important;
      font-size: 11px !important;
    }
  }
  .contact_formsubs+.error {
    margin-top:-18px;
    padding-left: 32px;
    margin-bottom:18px;
  }
  select{
    -webkit-appearance: none;
-moz-appearance: none;
}

.selectcls {
  position: relative;
}
.selectcls svg{
  position:absolute;
  top:50%;
  right:0px;
}