.btn__watchvideo{
    border: 1px solid $color-white;
    border-radius: 30px;
    font-family: $area-font;
    font-weight: bold;
    @include tablet{
      font-size: 12px;
    }
}
.video__btn {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.home__videorow {
    position: relative;
    img{
        width: 100%;
        @include tablet{
          height: 100%;
        }
    }
}

.home__videocontainer {
    width: 60%;
    margin: 0 auto;
    @include tablet{
      width: 100%;
      padding: 30px;
      box-sizing: border-box;
    }
}
.video-container {
  display: none;
  position: relative;
  margin: 0 auto;
  animation-name: zoom;
  animation-duration: 0.9s;
  video{
    vertical-align: middle;
  }
}
@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}
.video-play{
width:38px;
}
.video-unmute {
  width: 30px;
}
.controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.videotoggle{
  margin: 0 10px;
}
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 1px;
  background: $color-white !important;
  padding: 0px;
  border-bottom: 0px;
  margin: 0 10px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: $color-white;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}
.video-container{
  iframe{
    @include tablet{
      height: 400px;
    }
  }
}





