<!-- partial:partials/common/_head.html -->
<!-- partial -->
<div class="main__container">
<!-- partial:partials/home/_banner.html -->
<!-- partial -->
<!-- partial:partials/home/_video.html -->
<!-- partial -->
<!-- partial:partials/home/_text-content.html -->
<!-- partial -->
<!-- partial:partials/home/_stacking-plan.html -->
<!-- partial -->
<!-- partial:partials/home/_design-features.html -->
<!-- partial -->

<!-- partial:partials/home/_map.html -->
<!-- partial -->
<!--parallax image-->
<div class="home__parallaximg">
    <div class="home__parallaximgwrap dis__desktop" style="background-image: url(images/parallax.jpg)">
       
    </div>
    <div class="home__parallaximg-mob dis__tablet">
        <div class="parallax__mob">
            <img src="images/parallax.jpg" alt="">
        </div>
    </div>
</div>
<!-- partial:partials/home/_contact.html -->
<!-- partial -->

</div>
<!-- partial:partials/common/_footer.html -->
<!-- partial -->