<!-- contact -->
<div class="contact__container" id="contact">
    <div class="contact__containerwrap">
        <div class="contact__row d-flex">
            <div class="contact__title">contact</div>
            <div class="contact__form">
                <form action="" class="contact-form" id="contactForm">
                    <div class="row__cls">
                        <div class="wd-50 group">
                            <!-- <input type="text" required="required"/> -->
                            <input type="text" class=" contactFormName" id="contactFormName" name="contactFormName"
                                type="text" placeholder="" data-required="Name is required"
                                data-alphabetsnspace="Please Enter Only Letters"
                                data-minLength="Your name must consist of at least 2 characters" required="required" />
                            <span class="highlight"></span><span class="bar"></span>
                            <label>Full name*</label>
                        </div>

                        <!-- email  -->
                        <div class="wd-50 group">
                            <input type="email" class="email" id="email" name="email" data-required="Email is required"
                                placeholder="" required="required" />
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Email*</label>
                        </div>
                        <!-- country -->
                        <div class="wd-50 group">
                            <input type="text" class="contactFormCountry" id="contactFormCountry"
                                name="contactFormCountry" type="text" placeholder="" data-required="Country is required"
                                data-alphabetsnspace="Please Enter Only Letters"
                                data-minLength="Country must consist of at least 2 characters" required="required">
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Country*</label>
                        </div>
                        <!-- phone  -->
                        <div class="wd-50 group">
                            <input type="number" class="contactFormPhone " id="contactFormPhone" value=""
                                name="contactFormPhone" placeholder="" data-required="Phone is required"
                                required="required">
                                <div class="flag-icon">
                                    <img src="images/flag.png" alt=""> <span>+971</span>
                                </div>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="form-label">Phone number*</label>
                        </div>
                    </div>
                    <!-- broker  -->
                    <div class="wd-100 group">
                        <div class="selectcls">
                            <select class="contactbroker" id="contactbroker"  name="contactbroker"
                            data-required="This is required">
                            <option value="">Are you a Broker*</option>
                            <option value="1">Yes</option>
                            <option value="1">No</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="#362126"/>
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="black" fill-opacity="0.2"/>
                          </svg>
                        </div>
                    
                    </div>
                    <!-- hear  -->
                    <div class="wd-100 group">
                        <div class="selectcls">
                       
                        <select class=" contacthear" id="contacthear" name="contacthear"
                            data-required="This is required">
                            <option value="">How did you hear about us?*</option>
                            <option value="1"> Al Ghurair Site</option>
                            <option value="1">Broker</option>
                            <option value="1">Google Search</option>
                            <option value="1">Online Article</option>
                            <option value="1">Print Article</option>
                            <option value="2">Referral</option>
                            <option value="2">Social Media</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="#362126"/>
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="black" fill-opacity="0.2"/>
                          </svg>
                    </div>
                    </div>
                    <!-- interested -->
                    <div class="wd-100 group">
                        <div class="selectcls">

                       
                        <select class=" contactinterest" id="contactinterest"
                            name="contactinterest" data-required="This is required">
                            <option value="">I am interested in*</option>
                            <option value="3">2 Bedroom Apartment</option>
                            <option value="3">3 Bedroom Apartment</option>
                            <option value="2">Penthouse</option>
                            <option value="3">Sky Villa</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="#362126"/>
                            <path d="M4.53588 5.45776L0.847759 0.207763L8.224 0.207764L4.53588 5.45776Z" fill="black" fill-opacity="0.2"/>
                          </svg>
                    </div>
                    </div>
                    <!-- message  -->
                    <div class="wd-100 msgBox group">
                        <textarea placeholder="" class="message contactFormMessage "
                            id="contactFormMessage " name="contactFormMessage"
                            data-required="Message is required"></textarea>
                            <span class="highlight"></span><span class="bar"></span>
                            <label class="form-label">Message*</label>
                    </div>
                    <div class="contact_formField contact_formsubs">  
                        <input type="checkbox" id="subs" class="acceptedterms" name="acceptedterms" title="Please check this checkbox" required data-required="Please agree the Terms and  conditions and Privacy policy">
                        <label for="subs">
                            I have read and agree to Al Ghurair Collection
                           <a href="">
                             Terms of Service 
                           </a>  and  <a href="">
                            Privacy Policy
                           </a>.</label>   
                    </div>
                    <div class="contact_formField contact_formsubs">  
                        <input type="checkbox" id="mailletter" class="mailletter" name="mailletter" title="Please check this checkbox" required data-required="Please agree this field">
                        <label for="mailletter">
                            I hereby consent to receive marketing communications from Al Ghurair Collection and its affiliated companies about its products and services via email, SMS, phone call, direct mail, and social media platforms in accordance with our <a href=""> Data Privacy Policy</a>. I understand I can unsubscribe from any mailings at any time by following the instructions in the messages I receive from Al Ghurair Collection.</label>   
                    </div>
                    <div class="group input__btn">
                        <input type="submit" class="btn btn-medium btn-transparent text-black  submit__btn"
                            value="submit">
                       
                    </div>
            </div>
            </form>
        </div>
    </div>
    <a href="/" class="backtotop">Back to top </a>
</div>
