<!-- slider  -->
<div class="slider__container">
    <div class="slider__wrap">
        <div class="slider__single">
            <img src="images/Property 1.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 2.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 3.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 4.jpg" alt="Property">
        </div>
    </div>
</div>