<!-- text content  -->
<div class="home__textcontent" id="building">
    <div class="home__textcontent-container">
        <div class="home__textcontent-wrap d-flex align-center">
            <div class="home__textcontentleft">
                <h2 data-aos="fade-up" data-aos-duration="2000">
                    What makes a story is how it's woven. <br/>
What creates a classic is how it endures.
                </h2>
                <p class="home__textcol">
                    Distinguished by extraordinary design and nourished by natural elements, life at The Weave is timeless and exceedingly vibrant. Here, beautiful balconies intertwine with intrigue.  Expertly-crafted exteriors blend into indoor sensations, an inviting oasis in Jumeirah Village Circle welcomes you home.
                </p>
                <a class="btn btn-medium btn-transparent text-black " href="#contact">
                    enquire here
                </a>
            </div>
            <div class="home__textcontentright">
                <img src="images/img1.png" alt="Imagevector">
            </div>
        </div>
        <div class="home__textrow d-flex">
            <div class="home__textsingle">
                <h6 class="text__title">Facade as a fabric</h6>
                <p>Captivating curves thread across the building, forming space for a life wrapped in tranquility.</p>
            </div>
            <div class="home__textsingle">
                <h6 class="text__title">A creative contrast</h6>
                <p>Textured minimalism softened by neutral tones is contrasted with distinctive angles to allure contemplation.</p>
            </div>
            <div class="home__textsingle">
                <h6 class="text__title">Living accents</h6>
                <p>Fountain grass and daisy groundcover flourish alongside cascading lush greenery for a soothing sensory appeal.</p>
            </div>
            <div class="home__textsingle">
                <h6 class="text__title">Shapes of the land</h6>
                <p>Inspired designs complement the landscape, reflecting its beauty, and flowing seamlessly from one space to the next.</p>
            </div>
        </div>
    </div>

</div>

<!-- background brown text content -->
<div class="home__bg-textcontent">
    <div class="home__bg-textwrap home__textcontent-container text-white">
        <div class="d-flex">
            <div class="home__bg-left">
                <img src="images/img2.png" alt="images">
            </div>
            <div class="home__bg-right">
                <h5>Designed by award winning Architect, Joe Adsett, The Weave is an exhibition of contemporary, luxury
                    residential architecture.</h5>
                <p class="home__textcol">In his first Dubai project, Adsett evokes a physical understanding of texture and connection with a striking interlace of stone, steel, and glass.</p>
                <a href="" class="btn btn-medium btn-transparent text-white btn-content">view portfolio</a>
            </div>
        </div>
    </div>
</div>
<!-- slider  -->
<div class="slider__container">
    <div class="slider__wrap">
        <div class="slider__single">
            <img src="images/Property 1.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 2.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 3.jpg" alt="Property">
        </div>
        <div class="slider__single">
            <img src="images/Property 4.jpg" alt="Property">
        </div>
    </div>
</div>
<!-- intro lifestyle  -->
<div class="intro__container" id="lifestyle">
    <div class="intro__row d-flex">
        <div class="intro__rowleft">
            <div class="intro__rowcontents">
                <div class="intro__rowsubtitle">
                    <h6>lifestyle</h6>
                    <img src="images/title.svg" alt="title">
                </div>
                <div class="intro__rowtitle">
                    A retreat of repose and reconnection.
                </div>
                <div class="introcont">
                    <p>At The Weave, amenities are an invitation to a world of relaxation and renewal. Begin mornings on a daybed by the pool and flow into reflection sessions in the sauna and spa. Refresh in the health club, where fitness stations reshape afternoons. 
                        Welcome entertainment in the cinema and contemplation in the library. Then wander into calming outdoor spaces to join neighbors and friends. </p>
                </div>
            </div>
           
        </div>
        <div class="intro__rowright">
            <div class="intro__rowimg">
                <img src="images/lifestyle.jpg" alt="lifestyle">
            </div>
           
        </div>
    </div>
</div>
