<!-- Video  -->
<div class="home__video">
    <div class="home__videocontainer">
        <div class="home__videorow">
            <img src="images/video.png" alt="video">
            <div class="video__btn">
                <a class="btn btn-medium btn-transparent text-white btn__watchvideo toZoom" href="#">
                    watch video
                </a>
            </div>
        </div>

    </div>
    <!-- The Modal -->
    <div class="video-container">
        <!-- <video id="myVideo" width="100%">
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
        <iframe width="100%" height="700px"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1&showinfo=0&controls=0&modestbranding=1" frameborder="0">
        </iframe>
        <div class="controls">

            <!-- <div id="playPauseBtn">
                <img src="images/icons/play.png" alt="" class="video-play">
                <img src="images/icons/pause.svg" alt="" class="video-pause">
            </div>
            <input type="range" id="progressBar" value="0">

            <div id="muteBtn">
                <img src="images/icons/mute.svg" alt="" class="video-mute">
                <img src="images/icons/unmute.png" alt="" class="video-unmute"></a>
            </div> -->
                <!-- <a href="" class="videotoggle"><img src="images/icons/toggle.svg" alt=""></a> -->
            </div>
        </div>
    </div>